<h1><%= @story.name %></h1>

<% if @story.usersentences.any? %>
  <h4>Here are the entries for this story:</h4>
  <ul>
    <% @story.usersentences.each do |usersentence| %>
      <li>
        <%= usersentence.sentence %> |
        <%= link_to "Edit", edit_story_usersentence_path(@story, usersentence)%>

    </li>
    <% end %>
  </ul>

<% else %>
  <p>There are no entries yet!</p>
<% end %>
<p>
  <%= link_to "New user entry", new_story_usersentence_path(@story) %>
</p>

<p><%= link_to "Edit", edit_story_path(@story) %></p>
<p><%= link_to "Delete", story_path(@story),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to stories", stories_path %></p>
